// Use Bootstrap SCSS
@use "bootstrap" as *;

// _variables.scss
$card-max-height: 100vh;

// MyCard.module.scss

.myCard {
  position: relative;
  overflow-y: auto;

  svg {
    // Wrap declarations to make behavior explicit
    & {
      width: 100%;
      max-width: 100%;
      height: auto;
      max-height: 90vh;
      object-fit: cover;
    }
  }
}

.bg-teal-500 {
  background-color: #04bbf1 !important;
  border-color: #04bbf1 !important;
  color: black !important;
}

.bg-teal-500:hover {
  background-color: #1d4370 !important; /* Change to the desired hover color */
  color: white !important; /* Optional: Change text color on hover */
}
